:root {
    --blue: #335c67;
    --tan: #fff3b0;
    --orange: #e09f3e;
    --redL: #9e2a2b;
    --redD: #540b0e;


}

body {
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--blue);
    color: var(--tan);
}
header, footer, h3 {
    font-size: 130%;
}

header, footer, section {
    margin: 4px;
    padding:16px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

article {
    display: flex;
    flex-direction: column;
    width: calc(33.3% - 8px);
    margin: 24px;
    border: dotted var(--redL) 4px;
    padding: 12px;
    transition: box-shadow 500ms ease;
}
h2 {
    font-style: bold;

}

h3 {
    margin-top: -20px;
    font-weight: bold;
    border: solid var(--orange) 4px;
    background-color: var(--blue);
    padding: 16px;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 8px;
    transition: box-shadow 500ms ease;
}


article:hover,
article:hover h3 {
    box-shadow: 0 0 8px var(--orange);
}

article pre {
    background-color: var(--orange);
    color:  var(--blue);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
}

@media screen and (max-width: 1160px) {
    article {
      width: calc(50% - 32px);
    }
  }
  
  @media screen and (max-width: 768px) {
    article {
      width: calc(100% - 32px);
    }
  }